gunicorn
python-dotenv
requests
openai
black
streamlit
PyPDF2
watchdog
fuzzywuzzy 
python-Levenshtein
flask
flask-swagger-ui
Werkzeug
flask-cors
chromadb==0.3.29
pydantic==1.10.13
llama-index-core==0.10.1
sentence-transformers
pyttsx3